<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <title>登录</title>
</head>

<style>
#tip {
    position: absolute;
    top: 50px;
    left: 50%;
    display: none;
    z-index: 9999;
    min-width: 200px;
    text-align: center;
    }

#form {
    width: 30%;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    }

#title {
    text-align: center;
    }

.navbar-default {
    background-color: #fff;
}

</style>

<body>


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">注册</a></li>
                <li><a href="#">登录</a></li>
            </ul>
        </div>
    </div>
</nav>

    <form id="form" action="{{ url }}" method="post">

        <h3 id="title">登录</h3>

        <div class="form-group">
            <label>用户名</label>
            <input id="usr" class="form-control" type="text" placeholder="username" name="username" onblur="valid_username(this.value)">
        </div>

        <div class="form-group">
            <label>密码</label>
            <input id="pwd" class="form-control" type="password" placeholder="password" name="password" onblur="confirm_password(this.value)">
        </div>

        <button id="btn" class="btn btn-default" disabled="disabled">确定</button>
    </form>

    {# 弹窗提示 #}
    <strong id="tip"></strong>
</body>
<script>

// tip是提示信息，type:'success'是成功信息，'danger'是失败信息,'info'是普通信息,'warning'是警告信息
// http://www.cnblogs.com/hambert/p/4076027.html
function ShowTip(tip, type)
    {
    var $tip = $('#tip');
    $tip.stop(true).prop('class', 'alert alert-' + type).text(tip).css('margin-left', - $tip.outerWidth() / 2).fadeIn(500).delay(2000).fadeOut(500);
    }

$(document).ready(function(){
    var msg = '{{ msg }}';
    if (msg != '')
        {
        ShowTip(msg, 'danger')
        }
    });

var u_status = 0;
var p_status = 0;

function valid_username(username)
    {
    var xmlhttp;
    var u_name = $('#usr');
    xmlhttp=new XMLHttpRequest();

    if (username == '')
        {
        u_name.parent().attr('class', 'form-group');
        u_status = 0;
        disable_button();
        }
    else
        {
        xmlhttp.onreadystatechange=function()
            {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                u_name.parent().attr('class', 'form-group has-success');
                u_status = 1;
                disable_button();
                }
            else if (xmlhttp.readyState==4 && xmlhttp.status==202)
                {
                <!--ShowTip(xmlhttp.responseText, 'danger')-->
                u_name.parent().attr('class', 'form-group has-error');
                u_status = 0;
                disable_button();
                };
            };
        xmlhttp.open("POST", '/user/valid_username', true);
        xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        xmlhttp.send("username="+username);
        }
    }

function confirm_password(password)
    {
    var pwd = $('#pwd');
    xmlhttp=new XMLHttpRequest();

    if (password == '')
        {
        pwd.parent().attr('class', 'form-group');
        p_status = 0;
        disable_button();
        }
    else
        {
        xmlhttp.onreadystatechange=function()
            {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                pwd.parent().attr('class', 'form-group has-success');
                p_status = 1;
                disable_button();
                }
            else if (xmlhttp.readyState==4 && xmlhttp.status==202)
                {
                <!--ShowTip(xmlhttp.responseText, 'danger')-->
                pwd.parent().attr('class', 'form-group has-error');
                p_status =0;
                disable_button();
                };
            }
        xmlhttp.open("POST", '/user/confirm_password', true);
        xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        xmlhttp.send("password="+password);
        }
    }


function disable_button()
    {
    var button = $('#btn')

    if (u_status == 1 && p_status == 1)
        {
            button.removeAttr('disabled');
        }
    else
        {
            button.attr('disabled', 'disabled');
        }
    }

</script>

</html>